body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    /* overflow: hidden;  */
    justify-content: center;
    align-items: center;
}


/* APPARENTLY THOSE ARE DIFFERENT FOR MOZILLA */
input[type="range"] {
    accent-color: #C08261;
    height: 2vh;    
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }



#board {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #C08261;
    max-width: 80vw;
    max-height: 80vh;
}

label {
    color: white;
}

#controls {
    margin-top: 1vh;
    height: 15vh;
    display: flex;
    flex-direction: row;
}

input[type="color"] {
    height: 3vh;
}

.ctrlDiv {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow {
    justify-content: center;
    align-items: center;    
    display: flex;
    flex-direction: column;
    flex: 1;
}

.spawnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left:20px;
    flex: 1;
}

.pawnSpawn {
    align-items: center;
    z-index: 100;
    /* transition: transform 3s ease-in; */
    

}

.svgDiv {
    position: fixed;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

#dropzone {
    position: absolute;
    padding: 15px;
    border-radius: 20px;
    background: #141414;
    z-index: -9999;
    left: 50%;
    transform: translateX(-50%) ;
    top: 16%;
    height: 81vh;
    width: 85vw;

    /* border-top: 15px groove #141414;
    border-left: 15px groove #141414;
    border-bottom: 15px ridge #141414;
    border-right: 15px ridge #141414; */
    
}
